/*
Copyright 2025 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

:root {
  --sl-text-code-sm: var(--sl-text-sm);
}

.sl-markdown-content code:not(:where(.not-content *)) {
  @apply px-1;
}

starlight-tabs {
  @apply rounded-md shadow-lg dark:shadow-none;

  & > .tablist-wrapper > ul[role="tablist"] {
    & > li {
      @apply flex flex-1;
      & > [role="tab"] {
        @apply w-full;
      }
    }
  }

  & > [role="tabpanel"] {
    @apply mt-0! bg-stone-100 p-3 dark:border-0 dark:bg-stone-800 dark:text-stone-200;

    @apply px-2 leading-5;
    @apply rounded-b-lg;

    & > starlight-tabs {
      @apply -mx-3 -mb-3;
      & > * > * > * > * {
        @apply rounded-t-none!;
      }
    }
  }

  & > .tablist-wrapper {
    @apply my-0! border-none! pb-0;
  }

  & > .tablist-wrapper > ul {
    @apply my-0! gap-0 border-none!;
  }

  & > .tablist-wrapper > ul > * {
    @apply my-0! flex-auto!;

    &:first-child > * {
      @apply rounded-ss-md;
    }

    &:last-child > * {
      @apply rounded-se-md;
    }

    & > * {
      @apply py-1!;
      @apply light:shadow-neutral-500 dark:shadow-stone-600;
      @apply place-content-center whitespace-nowrap;
      @apply border-none!;

      &:not([aria-selected="true"]) {
        @apply place-content-center bg-stone-200 whitespace-nowrap dark:bg-stone-700 dark:text-stone-300!;
      }

      &[aria-selected="true"] {
        @apply border-b-0 bg-stone-300 font-normal! dark:bg-stone-600;
      }
    }
  }
}

.code-tabs {
  a[role="tab"] {
    @apply font-mono;
  }
}

.tab-subtitle {
  @apply text-center text-lg font-bold text-shadow-sm;
}

.sl-markdown-content {
  ul:not(:where(.not-content *)) {
    @apply m-0 ml-3;
  }

  ul > li:not(:where(.not-content *)) {
    @apply mt-0 list-item list-inside list-disc leading-snug;
  }

  ul ul:not(:where(.not-content *)) {
    @apply m-0 ml-5;
  }

  ul ul li:not(:where(.not-content *)) {
    @apply mt-0 list-item list-inside list-[square] leading-tight;
  }
}

.expressive-code {
  &:has(figure > pre.\!hidden) {
    @apply hidden!;
  }
}

/* https://stackoverflow.com/questions/66416614/how-to-create-scrollable-element-in-tailwind-without-a-scrollbar */
/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer starlight.core {
  .hero {
    padding-block: 1rem !important;
    & > img {
      padding: 10px;
      margin: auto !important;
    }
  }
}
